body{
    background-color: #f1e6d5;

}
header{
    background-color: #181615;
    /* border: 3px 3px;
    border-style: dashed;
    border-color: rgb(158, 122, 75); */
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 5px ;
    padding-right: 5px;
    display: flex;
    margin: 0 0;

}
nav{
    background-color: #74070e;
    /* border: 3px 3px;
    border-style: dashed;
    border-color: rgb(158, 122, 75); */
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px ;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    align-self: flex-end;

}
.Banner{
    align-self: flex-start;
}
nav ul{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    margin: auto;
    
}
nav img{
    width: 13%;
}
nav ul li{
    list-style: none;
    font-weight: 100;
    margin-right: 4%;
    margin-left: 4%;
    font-size: large;
    white-space: nowrap;
    padding: 24px 12px;
    transition: all 0.4s ease;
    
    
}
nav ul  li:hover{
    border-radius: 20px;
    background: linear-gradient(145deg, #68060d, #7c070f);
    box-shadow:  8px 8px 6px #57050b,
                -8px -8px 6px #910912;
}
nav ul li a{
    color: #F4E3B2;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header h1{
    color: #e3a419;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 5%;
}
header h3{
    color: #f0e7d5;
    position: relative;
    top: 4px;
}
nav a:hover{
    color: #c28d39;
}
/* nav a:visited{
    color: #714e3a;
} */
 ul{
    list-style: none;
 }
 .socials{
    display: flex;
    align-self: flex-end;
    margin: auto;
    flex-wrap: wrap;
 }
 .socials ul li{
    margin-right: 4%;
 }
.socials ul{
    display: flex;
    gap: 28%;
}
 .socials svg{
    fill: #fab940;
}
.socials a svg:hover{
fill: #9f4409;
}
.mapCont{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
}
.mapCont img{
    width: 100%;
    height: auto;
    display: block;
}
#columns{
    /* display: flex;
    flex-wrap: wrap */
    column-count: 2;
    column-width: 360px;
    column-gap: 6%;

}
#columns img{
    width: 15em;
    float: left;
    margin-right: 4%;
    margin-bottom: 6%;
}
#columns section{
    display: flex;
}
#columns p{
    color: #161415;
    font-family: "Merriweather", serif;
    font-size: small;
    line-height: 1.6;
    letter-spacing: 0.08em;
    word-spacing: 0.4em;
    font-weight: 800;
    margin-bottom: 1.2rem;
}
#Title h1{
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-style: normal;

}
#Title{
    text-align: center;
    padding: 10px 2px;
    border: #101010;
    border-bottom-width: 10px;
    border-bottom-style: double;
    border-top-width: 10px;
    border-top-style: double;
    margin-top: 10px;
}
#quote{
    margin: 15px 10px;
    border-style: groove;
    border-width: 5px;
    border-color: #4b2e2b;
    padding: 7px;
    border-radius: 25px;
    font-size: large;
    line-height: 1.6;
    letter-spacing: 0.08em;
    word-spacing: 0.4em;
    font-weight: 500;
    margin-bottom: 1.2rem;
}
#columns h2{
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
main{
    padding: 15px;
    padding-bottom: 25px;
    border: #101010;
    border-bottom-width: 10px;
    border-bottom-style: double;
}
 
