body{
    background-color: #fffcf1;

}
header{
    background-color: #181615;
    /* border: 3px 3px;
    border-style: dashed;
    border-color: rgb(158, 122, 75); */
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 5px ;
    padding-right: 5px;
    display: flex;
    margin: 0 0;

}
nav{
    background-color: #d44d5c;
    /* border: 3px 3px;
    border-style: dashed;
    border-color: rgb(158, 122, 75); */
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px ;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    align-self: flex-end;

}
.Banner{
    align-self: flex-start;
}
nav ul{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    margin: auto;
    
}
nav img{
    width: 13%;
}
nav ul li{
    list-style: none;
    font-weight: 100;
    margin-right: 4%;
    margin-left: 4%;
    font-size: large;
    white-space: nowrap;
    padding: 24px 12px;
    transition: all 0.4s ease;
    
    
}
nav ul  li:hover{
    border-radius: 20px;
    background: linear-gradient(145deg, #bf4553, #e35262);
    box-shadow:  19px 19px 38px #9b3843,
                -19px -19px 38px #ff6275;
}
nav ul li a{
    color: rgb(69, 12, 63);
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header h1{
    color: #e3a419;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 5%;
}
header h3{
    color: #f0e7d5;
    position: relative;
    top: 4px;
}
nav a:hover{
    color: #160029;
}
/* nav a:visited{
    color: #714e3a;
} */
 ul{
    list-style: none;
 }
 .socials{
    display: flex;
    align-self: flex-end;
    margin: auto;
    flex-wrap: wrap;
 }
 .socials ul li{
    margin-right: 4%;
 }
.socials ul{
    display: flex;
    gap: 28%;
}
 .socials svg{
    fill: #fab940;
 }